* {
    margin: 0px;
    padding: 0px;
  }

.imgicon {
    width: 100px;
  }

  @font-face {
    font-family: Odin;
    src: url(/fonts/odin.otf);
 }

 @font-face {
  font-family: Andromeda;
  src: url(/fonts/AndromedaTV.TTF);
}

@font-face {
font-family: Moondance;
src: url(/fonts/Moondance.otf);
}

/* Phone */

  @media only screen and (max-width: 1080px) {

    .navmobile {
      width: 100%;
      height: 55vh;
      display: flex;
      background-color: #081526;
      justify-content: center;
    }
  
    .imgicon-mobile {
      width: 200px;
      display: flex;
      justify-content: center;
    }
  
    .nav-mobile-ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .nav-mobile-li {
      list-style-type: none;
      padding-left: 150px;
      padding-right: 150px;
      margin-top: 3vh;
      display: flex;
      justify-content: center;
    }
  
    .nav-mobile-a {
      text-decoration: none;
      color: white;
      background-color: #2481A6;
      padding: 50px;
      padding-right: 200px;
      padding-left: 200px;
      border-radius: 50px;
      font-size: 50px;
      font-family: 'Moondance', 'Times', cursive;
    }
  
    .nav-mobile-a:hover {
      color: #0F3759;
      background-color: white;
      /* transform: translate(0, 20, 0); */
      box-shadow: #7EB3BF 5px 5px 5px;
    }
  
    .navdesktop {
      display: none;
    }
  
    .nav-desk-ul {
      display: none;
    }
  
    .nav-desk-li {
      display: none;
    }
  
    .nav-desk-a {
      display: none;
    }

    .navdesktop {
      display: none;
    }

    .nav-desk-ul {
      display: none;
    }

    .nav-desk-li {
      display: none;
    }

    .nav-desk-a {
      display: none;
    }

    .about-div-desk {
      display: none;
    }

    .about-div-mobile {
      /* width: 150vh; */
      /* margin-left: 15.5%; */
    }
    
    .p-about-mobile {
      /* padding: 5px; */
      color: black;
      display: flex;
      justify-content: center;
      font-family: 'helvetica', Arial, serif;
      flex-wrap: wrap;
      margin-top: 2vh;
      font-size: 20px;
      line-height: 5vh;
    }

    .p-about-desk {
      display: none;
    }

    .about-main-desk {
      display: none;
  }

  .about-main-mobile {
    width: 75%;
    margin-left:7.5vh;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Odin', 'Times New Roman', Times, serif;
}

  .h2-direction {
    display: none;
  }

  .h1-desk {
    display: none;
  }

  .h2-desk {
    display: none;
  }

  .h2-direction-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Odin', 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-top: 25px;
  }

  .h1-mobile {
    padding-top: 2vh;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Odin', 'Times New Roman', Times, serif;
    font-size: 80px;
  }

  .h2-mobile {
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Odin', 'Times New Roman', Times, serif;
    font-size: 60px;
  }

  .img-paypal-mobile {
    margin-left: 25%;
    margin-top: 25px;
    width: 20vh;
  }
  }

  /* Desktop */

  @media only screen and (min-width: 1081px) {

    .navdesktop {
    width: 100%;
    display: flex;
    background-color: #081526;
  }

  .nav-desk-ul {
    display: flex;
    flex-direction: row;
  }

  .nav-desk-li {
    list-style-type: none;
    margin-top: 6vh;
    margin-left: 50px;
  }

  .nav-desk-a {
    text-decoration: none;
    color: white;
    background-color: #2481A6;
    padding: 15px;
    border-radius: 50px;
    font-family: 'Moondance', 'Times', cursive;
  }

  .nav-desk-a:hover {
    color: #0F3759;
    background-color: white;
    /* transform: translate(0, 20, 0); */
    box-shadow: #7EB3BF 5px 5px 5px;
  }

  .a-paypal-desk {
    margin-left: 25%;
    width: 20vh;
  }

  .img-paypal-mobile {
    display: none;
  }

  .img-paypal-desk {
    width: 20vh;
    margin-left: 18%;
    margin-top: 40px;
  }

    .about-main-desk {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: 'Odin', 'Times New Roman', Times, serif;
    }

    .h2-direction {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Odin', 'Times New Roman', Times, serif;
      }

      .h1-desk {
        padding-top: 2vh;
        color: black;
        display: flex;
        justify-content: center;
        font-family: 'Odin', 'Times New Roman', Times, serif;
      }
  
      .h2-desk {
        padding: 5px;
        color: black;
        display: flex;
        justify-content: center;
        font-family: 'Odin', 'Times New Roman', Times, serif;
      }

      .about-div-desk {
        width: 150vh;
        margin-left: 15.5%;
      }

      .about-div-mobile {
        display: none;
      }

      .hut-word-desk {
        color: black;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        font-family: 'Odin', 'Times New Roman', Times, serif;
        padding-left: 2px;
      }

      .p-about-desk {
        padding: 5px;
        color: black;
        display: flex;
        justify-content: center;
        font-family: 'helvetica', Arial, serif;
        flex-wrap: wrap;
        margin-top: 2vh;
        font-size: 20px;
        line-height: 5vh;
      }

      .h2-direction-mobile {
        display: none;
      }
    
      .h1-mobile {
        display: none;
      }
    
      .h2-mobile {
        display: none;
      }

      .navmobile {
        display: none;
      }
    
      .imgicon-mobile {
        display: none;
      }
    
      .nav-mobile-ul {
        display: none;
      }
    
      .nav-mobile-li {
        display: none;
      }
    
      .nav-mobile-a {
        display: none;
      }
    
      .nav-mobile-a:hover {
        display: none;
      }
  }
